#about-body{
  display:block;
  position: relative;
  // margin: 0 auto;
  background-image: url('../../assets/images/_DSF8179.jpg');
  background-size: cover; 
  background-attachment: scroll;
  background-position: center;
  height:800px;
  width: 100%;
  // z-index: 1000;
}

.about-container{
  display: block;
  background-size: cover; 
  position: relative;
  background: #d8ffdf23;
  // background: #e53f0c61;
  border: 4px solid #ffffff5b;
  border-radius: 5px;
  margin: 0 auto;
  padding:20px;
  width: 50%;
  max-width: 600px;
  height: 400px;
  overflow: scroll;
  text-align: left;
  font-weight: 700;
  top: 40px;
  transition: .3s ease all;

  .about-statement{
    display: block; 
    position: relative;
    margin: 24px auto;
    padding:24px;
    height:250px;
    width: 55%;
    min-width:35%;
    border-radius: 12px;
    background: #0000005a;
    color: #ffffff00;
    filter:blur(15px);
    transition: .3s ease all;
  }

  .about-statement:hover{
    transition: .3s ease all;
    filter:blur(0px);
    background: #ffffffad;
    color: #000000ad;
  }
}

.about-container:hover{
  transition: .3s ease all;
  border: 4px solid #ffffff5b;
  // background: #008b8b61;
  background: #e53f0c61;
}

.about-me{
  display:block;
  position: relative;
  margin: 0 auto;
  padding: 6px;
  width: 41%;
  height: 180px;
  top:20px;
  text-align: center;
  line-height:260px;
  font-size: 7.5rem;
  letter-spacing: -12px;
  border-bottom: 20px solid #b2b2b200;
  font-weight:800;
  color: #00000049;
  transition: .5s ease all;
}

.about-me:hover{
  transition: .5s ease all;
  border-bottom: 20px solid #000000ad;
  color: #000000ad;
}

//*** NAME ***//

#about-name{
  letter-spacing: -5px; 
  font-size: 3rem;
}


//*** TRAITS ***//

#about-traits{
  font-size: 2.85rem;
  letter-spacing: -5px;
}


//*** LOCATION ***//

#about-location{
  font-size: 2.25rem;
  letter-spacing:-3px;
}


// *** SKILLS *** //

#about-skills{
  font-size: 2.25rem;
  letter-spacing:-3px;
  width: 60%;
  overflow: auto;

  i{
    display: inline-block;
    position: relative;
    color:#0000008a;
    margin: 2px 2px;
    padding: 1px 8px;
    font-size: 2.45rem;
    text-align: center;
    border-radius: 5px;
    // background: #ffffffad;
    transition: .2s ease all;
  }

  i:hover{
    transition: .2s ease all;
    color:#000000ad;
    background: #ffffffad;    
  }
}

#icon-container{
  display: block;
  position: relative;
  padding-left: 8%;
  align-content: center;
}


//*** CONTACT ***//

#about-contact{
  position:relative;
  font-size: 2.5rem;
  color:#df54290a
}

#about-contact:hover{
  background: #ffffffad;
  color: #000000ad;
}
//*** 'HERE' ***//

#about-here{
  font-size: 2.5rem;  
  text-decoration: none;
  color: #ffffff00;
  border-bottom: 3px solid #00000000;
  text-shadow: -1px 2px 0px #000000ad;
  letter-spacing:-3px;
  transition: .4s ease-in-out;
}
#about-here:hover{
  transition: .4s ease all;
  border-bottom: 3px solid #000000ad;
}
