.blog-container{
  display: block;
  position: relative;
  height:900px;
  background: #1e3b1e;
}

#blog-hwun{
  display:block;
  position: relative;
  color: #add8e63f;
  letter-spacing: -11px;
  font-size: 7rem;
  transition: .4s ease all;
}

#blog-hwun:hover{
  transition: .4s ease all;
  color: #35c7f862;
}

.blog-blurb{
  display: block;
  position: relative;
  background: #ffff00a2;
  color:#1e3b1e;
  top: -90px;
  margin: 0 auto;
  width: 40%;
  padding: 8px;
  height: 320px;
  text-align: center;
  border-radius: 20px;
  font-weight: 700;
  transition: .4s ease all;

  p{
    display:block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    color:#1e3b1e;
    font-size:4rem;
    letter-spacing: -9px;
    transition: .4s ease all;
  }
}

.blog-blurb:hover{
  transition: .4s ease all;
  box-shadow: -12px 12px 10px #0a140ad8;
}

.blog-blurb p:hover{
  transition: .4s ease all;
  font-size: 4.1rem;
  letter-spacing: -10px;
  color: #1e3b1e;
  text-shadow: -5px 5px 2px #0f0701a2;
}