.hero-body{
  // background: #008b8b91;
  background-image: url('../../assets/images/andrej-lisakov-568525-unsplash.jpg');
  background-size: cover;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 100%;
  // min-width: 400px;
  height: 500px;
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  border-bottom: 2px solid black;
}

h1{
  display: block;
  position: relative;
  line-height: 135px;
  letter-spacing: -8px;
  top: 100px;
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 7.5rem;
  color: #0000004e;
  outline: 5px solid #00000002;
  transition: all .8s ease-out;
}

h1:hover{
  // background: #97aef6a5;
  transition: all .8s ease-out;
  letter-spacing: -10px;
  font-size: 7.6rem;
  color: black;
  outline: 5px solid rgba(0, 0, 0, 0.668);
}





