body {
  background: lightgrey;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

#about-body {
  display: block;
  position: relative;
  background-image: url("../../assets/images/_DSF8179.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 800px;
  width: 100%; }

.about-container {
  display: block;
  background-size: cover;
  position: relative;
  background: #e53f0c61;
  outline: 1px solid #0000005b;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  height: 400px;
  overflow: scroll;
  text-align: left;
  font-weight: 700;
  top: 40px;
  transition: .3s ease all; }
  .about-container .about-statement {
    display: block;
    position: relative;
    margin: 24px auto;
    padding: 24px;
    height: 250px;
    width: 55%;
    min-width: 35%;
    background: #0000005a;
    color: #ffffff00;
    filter: blur(15px);
    transition: .3s ease all; }
  .about-container .about-statement:hover {
    transition: .3s ease all;
    filter: blur(0px);
    background: #ffffffad;
    color: #000000ad; }

.about-container:hover {
  transition: .3s ease all;
  outline: 2px solid #ffffff5b;
  background: #008b8b61; }

.about-me {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 6px;
  width: 54%;
  height: 180px;
  top: 20px;
  text-align: center;
  line-height: 260px;
  font-size: 7.5rem;
  letter-spacing: -10px;
  border-bottom: 20px solid #b2b2b200;
  font-weight: 800;
  color: #00000049;
  transition: .5s ease all; }

.about-me:hover {
  transition: .5s ease all;
  letter-spacing: -10.5px;
  border-bottom: 20px solid #000000ad;
  color: #000000ad; }

#about-name {
  letter-spacing: -5px;
  font-size: 3rem; }

#about-traits {
  font-size: 2.85rem;
  letter-spacing: -5px; }

#about-location {
  font-size: 2.25rem;
  letter-spacing: -3px; }

#about-contact {
  position: relative;
  font-size: 2.5rem;
  color: #df54290a; }

#about-contact:hover {
  background-color: #fb6537be;
  color: #f2f5ff;
  text-shadow: -1px 2px 0px #000000; }

#about-here {
  font-size: 2.5rem;
  transition: .3s ease-in-out;
  text-decoration: none;
  color: #ffffff00;
  letter-spacing: -3px; }

#about-here:hover {
  transition: .3s ease all;
  color: #ffeaed; }

.blog-container {
  display: block;
  position: relative;
  height: 900px;
  background: #1e3b1e; }

#blog-hwun {
  display: block;
  position: relative;
  color: #add8e63f;
  letter-spacing: -11px;
  font-size: 7rem;
  transition: .4s ease all; }

#blog-hwun:hover {
  transition: .4s ease all;
  color: #35c7f862; }

.blog-blurb {
  display: block;
  position: relative;
  background: #ffff00a2;
  color: #1e3b1e;
  top: -90px;
  margin: 0 auto;
  width: 40%;
  padding: 8px;
  height: 320px;
  text-align: center;
  border-radius: 20px;
  font-weight: 700;
  transition: .4s ease all; }
  .blog-blurb p {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    color: #1e3b1e;
    font-size: 4rem;
    letter-spacing: -9px;
    transition: .4s ease all; }

.blog-blurb:hover {
  transition: .4s ease all;
  box-shadow: -12px 12px 10px #0a140ad8; }

.blog-blurb p:hover {
  transition: .4s ease all;
  font-size: 4.1rem;
  letter-spacing: -10px;
  color: #1e3b1e;
  text-shadow: -5px 5px 2px #0f0701a2; }

.contact-body {
  display: block;
  position: relative;
  height: 900px; }

.contact-container {
  display: block;
  height: 800px;
  position: relative;
  background: #1e3b1e; }

#contact-hwun {
  display: block;
  position: relative;
  top: 100px;
  background: grey;
  font-size: 5rem;
  color: #cf8701; }

.site-header {
  background: #1a1a20;
  position: fixed;
  top: 0px;
  display: block;
  margin: 0 auto;
  z-index: 1000;
  width: 99%;
  border-bottom: 1.5px solid #2f3f45;
  padding: 10px; }

#site-logo {
  display: inline-block;
  background: #1a1a20;
  border: 1.5px solid #393942;
  width: 80px;
  height: 80px;
  padding: 2px;
  text-align: center;
  transition: all .5s ease-out; }
  #site-logo span {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 3.75rem;
    font-weight: 600;
    letter-spacing: -10px;
    color: #393942; }
  #site-logo span:hover {
    transition: .4s ease all;
    letter-spacing: -11px;
    font-weight: 700;
    color: #c1c1c1; }

#site-logo:hover {
  transition: .5s ease all;
  border-top: 1.5px solid #38aa86;
  border-right: 1.5px solid #BF3537;
  border-bottom: 1.5px solid #DB9825;
  border-left: 1.5px solid #3a6edc;
  background: linear-gradient(left, #44444f, #29292f); }

.site-nav {
  padding: 12px;
  padding-right: 25px;
  position: relative;
  margin: 0 auto;
  float: right; }
  .site-nav .nav-link {
    transition: all .4s ease-out; }
  .site-nav ul {
    position: relative;
    width: auto;
    height: 30px;
    margin: 10px auto;
    top: 25px;
    padding: 4px 2px; }
  .site-nav ul li {
    display: inline-block;
    padding: 6px;
    height: 12px; }
  .site-nav a {
    color: #393942;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -1px;
    border: 1px solid #1a1a20; }
  .site-nav .nav-link:hover {
    transition: .4s ease all; }

#home-link:hover {
  color: #c1c1c1;
  border-bottom: 1px solid #38aa86;
  border-right: 1px solid #38aa86; }

#about-link:hover {
  color: #c1c1c1;
  border-right: 1px solid #DB9825;
  border-bottom: 1px solid #DB9825; }

#project-link:hover {
  color: #c1c1c1;
  border-right: 1px solid #3a6edc;
  border-bottom: 1px solid #3a6edc; }

#contact-link:hover {
  color: #c1c1c1;
  border-right: 1px solid #BF3537;
  border-bottom: 1px solid #BF3537; }

@media screen and (max-width: 476px) {
  .site-nav {
    display: none; } }
.hero-body {
  display: block;
  position: relative;
  background-image: url("../../assets/images/andrej-lisakov-568525-unsplash.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 100%;
  height: 650px;
  max-height: 700px;
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  border-bottom: 2px solid black; }

.hello-header {
  display: block;
  position: relative;
  line-height: 135px;
  letter-spacing: -8px;
  top: 100px;
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 7.5rem;
  color: #0000004e;
  filter: blur(20px);
  outline: 5px solid #00000002;
  transition: all .3s ease-out; }

.hero-btn {
  text-decoration: none; }

.hello-header:hover {
  transition: all .4s ease-out;
  letter-spacing: -10px;
  filter: blur(0px);
  font-size: 7.6rem;
  color: black;
  text-shadow: 3px 5px 3px #212c5754;
  outline: 5px solid #000000aa; }

.projects-body {
  display: block;
  position: relative;
  height: 900px;
  background: #35242b; }

#project-hwun {
  display: block;
  position: relative;
  color: #add8e63f;
  letter-spacing: -11px;
  font-size: 7rem;
  transition: .4s ease all; }

#project-hwun:hover {
  transition: .4s ease all;
  color: #35c7f862; }

.projects-blurb {
  display: block;
  position: relative;
  background: #ff560785;
  margin: 0 auto;
  top: -90px;
  padding: 12px;
  width: 45%;
  height: 320px;
  letter-spacing: -10px;
  text-align: left;
  border-radius: 20px;
  color: #f8ad22a4;
  font-weight: 700; }
  .projects-blurb span {
    display: block;
    font-size: 4.5rem;
    position: relative;
    margin: 0 auto;
    transition: .4s ease all; }

.project-blurb:hover {
  box-shadow: 10px 10px 4px #1d1417fa; }

.projects-blurb span:hover {
  transition: .4s ease all;
  font-size: 4.56rem;
  letter-spacing: -8px;
  text-shadow: -12px 14px 8px #4e2605c0; }

/*# sourceMappingURL=index.css.map */
